


header {
    width: 100%;
    height: 70px;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.d-flex {
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 1.25rem;
}