


.bg-color-form-page {
    height: 100vh;
    background-color: var(--color-bg-secondary);
}

#form-page-section {
    padding: 54px 20px;
}

form {
    background-color: var(--color-bg-container-primary);
    padding: 10px 4px;
    margin-bottom: 10px;
    border-radius: 16px;
}


.form-page-title, h2 {
    font-weight: 500;
    color: var(--color-text-form-primary);
    font-size: 1.2rem;
}

input {
    width: 258px;
    height: 40px;
    background-color: var(--color-bg-search-bar);
    padding: 8px 17px;
    border-radius: 4px;
    border: 1px solid var(--color-border-primary);
    margin-bottom: 24px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-form-search-bar-primary);
}


input:not(:placeholder-shown) {
    color: var(--color-text-form-search-bar-secondary);
}


.pb {
    padding-bottom: 12px;
}


@media(min-width: 576px) {
    #form-page-section {
        padding: 54px 90px;
    }

    form {
        padding: 30px 10px;
    }


    .form-page-title, h2 {
        font-size: 2rem;
        
    }

    input {
        width: 298px;
    }

}

@media(min-width: 768px) {
    .form-page-title, h2 {
        font-size: 2.25rem;
    }

    form {
        margin-bottom: 20px;
    }
}

@media(min-width: 1200px) {
    form {
        padding: 54px 31px;
        margin-bottom: 54px;
    }
}